* {
  box-sizing: border-box;
}

div > p {
  color: blue;
}

.outer {
  background-color: yellow;
  padding: 10px;
  border: 2px dotted black;
  margin: 20px;
  height: 100px;
  width: 300px;
}

.outer-two {
  background-color: green;
  padding: 10px;
  border: 2px dotted black;
  margin: 10px;
  height: 100px;
  width: 300px;
}

#aButton {
  padding: 10px;
}

#aButton:hover {
  background-color: purple;
  color: white;
}
